:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: #18cfab;
 }

.container {
    width: 1160px;
    margin: 0 auto;
}

/*SECTION - Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    padding: 40px 0;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
}

.navbar-logo {
    text-decoration: none;
    display: flex;
}

.logo-hexagon {
    padding-left: 12px;
    padding-right: 12px;
    color: #ffffff;
    background-color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-right: 10px;
}
/*arrow up*/
.logo-hexagon::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 30px solid transparent;

    border-bottom: 16px solid var(--main-color);
    position: absolute;
    top: -16px;
    left: 0;
}
/*arrow down*/
.logo-hexagon::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 30px solid transparent;

    border-top: 16px solid var(--main-color);
    position: absolute;
    bottom: -16px;
    left: 0;
}

.logo-text {
    font-size: 32px;
    color: #ffffff;
}

.logo-text span {
    font-weight: 700;
    color: var(--main-color);
}

.navbar-right-col {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-right: 21px;
}

.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    position: relative;
}

.nav-link:hover {
    color: var(--main-color);
}

.nav-link:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    bottom: -50px;
}

.navbar-search {
    color: #b8b8b8;
}

/*SECTION - Header*/
.header {
    background-image: url("../css/pictures/sections_backgroung/section-1.header.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--main-font);
    text-align: center;
    height: 100vh;
}

.home {
    position: relative;
    top: 60px;
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-description {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-description span {
    color: var(--main-color);
}

.home-slogan {
    padding-top: 45px;
    padding-bottom: 36px;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-call {
    padding-bottom: 146px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    width: 166px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-style: solid;
    border-radius: 2px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.home-buttons>.button:nth-of-type(odd) {
    border-top-width: 3px;
}

.home-buttons>.button:nth-of-type(even) {
    border-top-width: 3px;
    background-color: #00cbf6;
    margin-left: 28px;
}

/*SECTION - 4 Options*/
.options {
    display: flex;
    justify-content: center;
}

.options-item {
    background-color: #1c2a33;
}

.options-item:nth-child(even) {
    background-color: var(--main-color);
}

.options-item {
    padding: 95px 0 120px 0;
    width: 25%;
    border-top-width: 7px;
    border-style: solid;
    border-color: var(--main-color);
}

.options-item:nth-child(even) {
    border-color: #fff;
}

.options-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    margin-bottom: 48px;
}

.options-text {
    text-align: center;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.options-text:nth-child(even) {
    color: #ffffff;
}

/*SECTION - Services*/
.services {
    margin-top: 82px;
    margin-bottom: 105px;
}

.section-title {
    font-family: var(--main-font);
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    text-transform: capitalize;
    position: relative;
}

.section-title::before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    top: 67px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title::after {
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-35%);
}

.services-tabs {
    margin-top: 112px;
    font-family: var(--main-font);
}

.services-tabs-list {
    display: flex;
    justify-content: space-evenly;
}

.services-tabs-item {
    color: #717171;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 192px;
    cursor: pointer;
    position: relative;
}

.services-tabs-item.active:after {
    content: "";
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}

.services-tabs-content {
    display: none;
    padding-top: 25px;
    text-align: justify;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}

.services-tabs-img {
    flex: 1;
}

.services-tabs-paragraph {
    flex: 5;
    margin-left: 20px;
}

.services-tabs-item.active {
    background-color: var(--main-color);
    color: #ffffff;
}

.services-tabs-content.active {
    display: flex;
}

/*SECTION - Purchase*/
.purchase {
    background-image: url(../css/pictures/sections_backgroung/section-2.purchase.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.78);
    background-blend-mode: darken;
    background-attachment: fixed;
}

.purchase-block {
    padding-top: 126px;
    padding-bottom: 127px;
    text-align: center;
}

.purchase-call {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.purchase-text {
    color: #d8d8d8;
    font-family: var(--main-font);
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 80px;
}

.purchase .button {
    margin: 0 auto;
    border-top-width: 3px;
}

.test {
    background-color: red;
    float: left;
}

/*SECTION- Work */
.work {
    background-color: #f8fcfe;
    padding-top: 97px;
    padding-bottom: 100px;
}

.work-block {
    text-align: center;
}

.work-list {
    display: flex;
    justify-content: center;
    margin-top: 101px;
}

.work-item {
    padding: 21px 29px;
    color: #717171;
    font-family: var(--main-font);
    font-size: 14px;
    border: 1px solid #ebebeb;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #fff;
}

.work-item.active {
    border-top-color: var(--main-color);
}

.work-example {
    display: flex;
    flex-wrap: wrap;
    margin-top: 71px;
    margin-bottom: 71px;
}

.work-type {
    width: 285px;
    height: 207px;
    position: relative;
}

.work-creative {
    font-family: var(--main-font);
    position:absolute ;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-creative-content {
    text-align: center;
}

.portfolio-awesome {
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    font-size: 11px;
    padding: 14px;
}

.portfolio-link {
    color: var(--main-color);
}

.portfolio-search {
    color: #fff;
    background-color: var(--main-color);
}

.portfolio-category-name {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 34px;
    padding-bottom: 14px;
}

.portfolio-item-description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
}

.work-load {
    font-size: 14px;
}

.work-load::before {
    content: "+";
}

/*SECTION - Breaking News*/
.news{
    margin-top: 105px;
    margin-bottom: 131px;
}
.news-list{
    margin-top: 105px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-item{
    margin-right: 28px;
    margin-bottom: 45px;
}

.news-item:nth-child(4n) {
    margin-right: 0;
}

.news-link {
    font-family: var(--main-font);
    text-decoration: none;
}

.news-img-block {
    position: relative;
}

.news-link:hover .news-date {
    background-color: var(--main-color);
    color: #ffffff;
}

.news-link:hover .news-post {
    color: var(--main-color);
}

.news-date {
    position: absolute;
    right:0;
    color: #ffffff;
    background-color: #203e38;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding: 8px 22px;
}

.news-blog {
    background-color: #f8fcfe;
    padding-left: 13px;
    padding-bottom: 12px;
    border: 1px solid #f1f3f4;
}

.news-post {
    text-transform: capitalize;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    padding-top: 14px;
    padding-bottom: 14px;
}

.news-admin {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

.news-admin::after {
    content: " | ";
    padding-left: 12px;
    padding-right: 12px;
}

.news-comment {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

/*SECTION - Feedback*/
.feedback {
    margin-bottom: 100px;
    background-image: url(../css/pictures/sections_backgroung/section-3.feedback.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.feedback-title {
    color: #ffffff;
}

.feedback-text {
    text-align: center;
    color: #bbbbbb;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 200px 0;
}

/*SECTION - Gallery*/
.gallery {
    padding-top: 67px;
    padding-bottom: 81px;
}

/*SECTION - Footer*/
.footer-text{
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    background-color: #22353f;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0;
    margin-bottom: 10px;
}

.footer-copyright span {
    padding-left: 2px;
    color: var(--main-color);
}

.footer-copyright::after {
    content: "|";
    padding: 0 3px;
}
